html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    align-items: center !important;
    scroll-padding-top: 70px;
}

header {
    height: 100%;
    width: 100%;
}

#introContent {
    height: 100%;
}

#navbar-container {
    /* background-color: rgba(2, 159, 250, 0.555); */
    background-color: rgb(26, 82, 118);
    color: White;
}

#introContent {
    height: 100;
    color: white;
    background: url('imgs/homepage2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

#introBox {
    text-align: center;
}

#introBox div {
    border-right: .15em solid #ffffff;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
}

#introBox div:nth-child(1) {
    width: 20em;
    -webkit-animation: type 4s steps(40, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#introBox div:nth-child(2) {
    width: 18rem;
    opacity: 0;
    -webkit-animation: type2 4s steps(30, end);
    animation: type2 4s steps(30, end);
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#introBox div:nth-child(3) {
    width: 22em;
    height: 20px;
    opacity: 0;
    -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
    animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: black solid 2px;
    width: 100%;
    text-align: center;
    background-color: rgb(26, 82, 118);
    /* background-color: rgb(15, 59, 87); */
}


/* Typing animation */

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #ffffff;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #ffffff;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #ffffff;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #ffffff;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}