html,
body,
header,
#introContent {
    height: 100%;
}

#navbar-container {
    background-color: rgba(2, 159, 250, 0.555);
    color: White;
}

#introContent {
    height: 100;
    color: white;
    background: url('imgs/homepage2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

#introBox {
    /* border-style: solid;
    border-color: rgba(2, 159, 250, 0.555);
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 5px; */
}

.typewriter h3 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

#introBox p {
    overflow: hidden;
    border-right: .05em solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


/* @keyframes typing {
    from {
        width: 0
    }
    to {
        width: fit-content
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
} */