    /* Style for body of Website */
    
    #mainInfo {
        background-color: rgb(26, 82, 118);
        color: white;
    }
    
    h2 {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        text-align: center;
        text-decoration: underline;
    }
    
    p,
    h6,
    ul {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.2rem;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Cinzel', serif;
    }
    
    p .link {
        color: white;
        text-decoration: none;
    }
    
    h6 a {
        color: white;
        text-decoration: none;
        font-size: 1.25em;
    }
    
    p .link:hover {
        color: black;
        text-decoration: underline;
    }
    
    h6 a:hover {
        color: black;
        text-decoration: underline;
    }
    
    .row {
        text-align: center;
        width: 100% !important;
        position: relative;
        left: 0.9rem;
    }
    
    .fade-div {
        opacity: 0;
    }
    
    #aboutMe {
        text-align: left;
    }
    
    #headshot {
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        width: 225px;
    }
    
    .hobbies {
        list-style-type: none;
        display: block;
    }
    
    .hobbies li {
        display: inline;
        margin-right: 0.25rem;
        padding-right: 0.25rem;
    }
    /* Section Detail Font Styles */
    
    h4 {
        padding-bottom: 0.5em;
    }
    /* icon styles */
    
    #icon {
        width: 128px;
        height: 128px;
        padding: 1rem;
        transition: filter .5s ease-in-out;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    
    #icon:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    
    #bbcg-icon {
        width: 200;
        height: 200px;
        border-radius: 50px;
        padding: 1em;
    }
    /* Carousel */
    
    .carousel {
        max-height: 800px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .carousel-btn {
        border-style: none;
        color: white !important;
        font-size: 1.5rem !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .carousel-btn:hover {
        color: blue !important;
        font-size: 2rem !important;
    }
    
    .carousel-pic {
        width: 100%;
    }
    
    .carousel-inner .carousel-item img {
        margin: 0 auto;
    }
    
    .carousel-caption {
        background-color: rgba(0, 110, 255, 0.274);
        color: white !important;
        border-radius: 25px;
        font-weight: bold;
    }
    
    .carousel-caption h5 {
        text-decoration: underline;
    }
    /* modals style */
    
    .modal {
        color: white;
    }
    
    .modal-header,
    .modal-footer {
        background-color: black;
    }
    
    .modal-body {
        background-color: rgb(26, 82, 118);
    }
    
    .closeX {
        color: rgb(255, 0, 0);
    }
    
    .modal-img {
        text-align: center;
    }
    
    .modal-img img {
        max-height: 20rem;
        border-radius: 15px;
        margin-bottom: 4px;
        max-width: 28em;
    }
    
    .tech-links {
        color: white !important;
        text-align: center;
        font-size: larger;
    }
    
    .tech-links i {
        font-size: 2em;
        padding: 0.5rem;
    }
    
    #modal-icon {
        width: 3.5em;
        padding: 0.5rem;
        position: relative;
        bottom: 0.5rem;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .tech-links button :hover {
        color: blue;
    }
    /* contact me style */
    
    .contact_row h4 {
        font-size: medium;
    }
    
    .email {
        padding-top: 0.75rem;
    }
    /* footer */
    
    .footer {
        font-size: 0.8rem;
    }
    
    .social-icons {
        font-size: 2.5rem;
        color: white;
        margin: 2px 5px;
    }
    
    .social-icons :hover {
        font-size: 3rem;
        color: blue;
    }
    
    iframe {
        max-height: 15rem;
    }
    /* mobile size */
    
    @media screen and (max-width: 1440px) {
        iframe {
            max-width: 28rem;
        }
        .modal-img img {
            max-width: 25rem;
        }
    }
    
    @media screen and (max-width: 800px) {
        #headshot {
            padding-top: 0.5rem;
            width: 200px;
        }
        iframe {
            width: 20rem;
        }
        .modal-img img {
            max-width: 20rem;
        }
        #icon {
            width: 100px;
            height: 100px;
        }
        .nav-tabs a {
            font-size: 1rem;
            padding: 0.1rem;
        }
    }
    /* about section redo */
    
    #about_me {
        display: flexbox;
        justify-content: center;
        text-align: center;
    }
    
    .about-table {
        display: flexbox;
        align-items: center;
    }
    
    .nav-tabs span {
        color: darkblue;
        font-size: 12px;
        padding: 1px
    }
    
    .nav-tabs {
        border-bottom: solid 2px rgb(7, 102, 211) !important;
    }
    
    .nav-tabs a {
        color: darkblue !important;
        font-weight: bold;
    }
    
    .nav-tabs .active {
        background-color: rgb(7, 102, 211) !important;
        border: darkblue !important;
    }
    
    #selection {
        border: solid 2px black;
        background-color: rgb(20, 99, 151);
        box-shadow: 5px 5px 7px rgba(0, 0, 139, 0.356);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    
    .tab-content h4 {
        margin-top: 1rem;
    }