    /* Style for body of Website */
    
    #mainInfo {
        background-color: rgb(26, 82, 118);
        color: white;
    }
    
    h2 {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        text-align: center;
        text-decoration: underline;
    }
    
    .row {
        text-align: center;
        width: 100% !important;
        position: relative;
        left: 0.9rem;
    }
    
    #aboutMe {
        text-align: left;
    }
    
    #headshot {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 400px;
    }
    /* mobile size */
    
    @media screen and (max-width: 800px) {
        #headshot {
            padding-top: 0.5rem;
            width: 200px;
        }
    }
    
    .hobbies {
        list-style-type: none;
        display: block;
    }
    
    .hobbies li {
        display: inline;
        margin-right: 0.25rem;
        padding-right: 0.25rem;
    }
    /* Section Detail Font Styles */
    
    h4 {
        padding-bottom: 0.5em;
    }
    /* icon styles */
    
    #icon {
        width: 128px;
        height: 128px;
        padding: 1rem;
        transition: filter .5s ease-in-out;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    
    #icon:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    
    #bbcg-icon {
        width: 200;
        height: 200px;
        border-radius: 50px;
        padding: 1em;
    }
    /* Carousel */
    
    .carousel {
        max-height: 800px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .carousel-btn {
        border-style: none;
        color: white !important;
        font-size: 1.5rem !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .carousel-btn:hover {
        color: red !important;
        font-size: 2rem !important;
    }
    
    .carousel-pic {
        width: 100%;
    }
    
    .carousel-inner .carousel-item img {
        margin: 0 auto;
    }
    
    .carousel-caption {
        background-color: rgba(0, 110, 255, 0.274);
        color: white !important;
        border-radius: 25px;
        font-weight: bold;
    }
    
    .carousel-caption h5 {
        text-decoration: underline;
    }
    /* modals style */
    
    .modal {
        color: white;
    }
    
    .modal-header,
    .modal-footer {
        background-color: black;
    }
    
    .modal-body {
        background-color: rgb(26, 82, 118);
    }
    
    .modal-img {
        text-align: center;
    }
    
    .modal-img img {
        height: 20rem;
        border-radius: 15px;
        margin-bottom: 4px;
        max-width: 28rem;
    }
    
    .tech-links {
        color: white !important;
        text-align: center;
        font-size: larger;
    }
    
    .tech-links i {
        font-size: 2em;
        padding: 0.5rem;
    }
    
    #modal-icon {
        width: 3.5em;
        padding: 0.5rem;
        position: relative;
        bottom: 0.5rem;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .tech-links button :hover {
        color: red;
    }
    /* footer */
    
    .footer {
        font-size: 0.8rem;
    }
    
    .social-icons {
        font-size: 2.5rem;
        color: white;
        margin: 2px 5px;
    }
    
    .social-icons :hover {
        font-size: 3rem;
        color: red;
    }